In [32]:
# import required libraries
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression

In [10]:
# load and read dataset
dataset = pd.read_csv('clean_data.csv')
dataset.head()

,ID,Gender,Own_car,Own_property,Work_phone,Phone,Email,Unemployed,Num_children,Num_family,Account_length,Total_income,Age,Years_employed,Income_type,Education_type,Family_status,Housing_type,Occupation_type,Target
0,5008804,1,1,1,1,0,0,0,0,2,15,427500.0,32.868574,12.435574,Working,Higher education,Civil marriage,Rented apartment,Other,1
1,5008806,1,1,1,0,0,0,0,0,2,29,112500.0,58.793815,3.104787,Working,Secondary / secondary special,Married,House / apartment,Security staff,0
2,5008808,0,0,1,0,1,1,0,0,1,4,270000.0,52.321403,8.353354,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,Sales staff,0
3,5008812,0,0,1,0,0,0,1,0,1,20,283500.0,61.504343,0.000000,Pensioner,Higher education,Separated,House / apartment,Other,0
4,5008815,1,1,1,1,1,1,0,0,2,5,270000.0,46.193967,2.105450,Working,Higher education,Married,House / apartment,Accountants,0

In [11]:
# columns
dataset.columns

Index(['ID', 'Gender', 'Own_car', 'Own_property', 'Work_phone', 'Phone',
       'Email', 'Unemployed', 'Num_children', 'Num_family', 'Account_length',
       'Total_income', 'Age', 'Years_employed', 'Income_type',
       'Education_type', 'Family_status', 'Housing_type', 'Occupation_type',
       'Target'],
      dtype='object')

In [12]:
dataset = dataset.drop(columns = ['ID', 'Income_type', 'Education_type', 'Family_status', 'Housing_type', 'Occupation_type'], axis = 1)
dataset.head()

,Gender,Own_car,Own_property,Work_phone,Phone,Email,Unemployed,Num_children,Num_family,Account_length,Total_income,Age,Years_employed,Target
0,1,1,1,1,0,0,0,0,2,15,427500.0,32.868574,12.435574,1
1,1,1,1,0,0,0,0,0,2,29,112500.0,58.793815,3.104787,0
2,0,0,1,0,1,1,0,0,1,4,270000.0,52.321403,8.353354,0
3,0,0,1,0,0,0,1,0,1,20,283500.0,61.504343,0.000000,0
4,1,1,1,1,1,1,0,0,2,5,270000.0,46.193967,2.105450,0

In [13]:
dataset.isnull().sum()

Gender            0
Own_car           0
Own_property      0
Work_phone        0
Phone             0
Email             0
Unemployed        0
Num_children      0
Num_family        0
Account_length    0
Total_income      0
Age               0
Years_employed    0
Target            0
dtype: int64

In [15]:
# split data into dependent and independent sets
x = dataset.iloc[ : , :-1]
y = dataset.iloc[ : , -1]
y.head()

0    1
1    0
2    0
3    0
4    0
Name: Target, dtype: int64

In [18]:
# now split x and y into training and testing sets
train_size = int(len(dataset)*0.85)

x_train = x.iloc[ : train_size, :]
x_test = x.iloc[train_size : , : ]
x_test.shape

(1457, 13)

In [20]:
# now split y
y_train = y[ : train_size]
y_test = y[train_size: ]
y_test.shape

(1457,)

In [25]:
# now write a function which should compare the performance of various models
def best_model(model, x_train, x_test, y_train, y_test):
    model.fit(x_train, y_train)

    y_pred = model.predict(x_test)
    
    return accuracy_score(y_test, y_pred)

In [26]:
best_model(DecisionTreeClassifier(), x_train, x_test, y_train, y_test)

0.7192862045298559

In [28]:
best_model(SVC(), x_train, x_test, y_train, y_test)

0.8057652711050103

In [29]:
best_model(RandomForestClassifier(), x_train, x_test, y_train, y_test)

0.8043925875085792

In [31]:
best_model(KNeighborsClassifier(), x_train, x_test, y_train, y_test)

0.7982155113246396

In [33]:
best_model(LogisticRegression(), x_train, x_test, y_train, y_test)

0.8057652711050103

In [ ]:
# now apply k fold cross validation
ds_score = []
svc_score = []
rf_score = []
knn_score = []
lr_score = []

for train_index, test_index in kf.split(dataset)