In [57]:
# import required libraries
import numpy as np
import pandas as pd
import plotly.graph_objects as go
import tensorflow
from tensorflow import keras
from keras import Sequential
from keras.layers import Dense

In [58]:
# load and read dataset
dataset = pd.read_csv('stock.csv')
dataset.head()

   Unnamed: 0        Date  Last  Opening  High   Low       Vol.  Var. %  category
0           0  04-12-2021  3.50     3.57  3.64  3.46  1570000.0   -1.55  negative
1           1  04-09-2021  3.56     3.52  3.57  3.52   666030.0    1.14  positive
2           2  04-08-2021  3.52     3.45  3.54  3.45   882540.0    1.59  positive
3           3  04-07-2021  3.46     3.43  3.49  3.43   508330.0    0.87  positive
4           4  04-06-2021  3.43     3.44  3.49  3.43   809460.0    0.59  positive

In [59]:
# display columns
dataset.columns

Index(['Unnamed: 0', 'Date', 'Last', 'Opening', 'High', 'Low', 'Vol.',
       'Var. %', 'category'],
      dtype='object')

In [60]:
# remove first column
dataset = dataset.drop(['Unnamed: 0', 'Date'], axis = True)

In [61]:
dataset.head()

   Last  Opening  High   Low       Vol.  Var. %  category
0  3.50     3.57  3.64  3.46  1570000.0   -1.55  negative
1  3.56     3.52  3.57  3.52   666030.0    1.14  positive
2  3.52     3.45  3.54  3.45   882540.0    1.59  positive
3  3.46     3.43  3.49  3.43   508330.0    0.87  positive
4  3.43     3.44  3.49  3.43   809460.0    0.59  positive

In [62]:
# find null values
dataset.isnull().sum()

Last        0
Opening     0
High        0
Low         0
Vol.        0
Var. %      0
category    0
dtype: int64

In [63]:
# descriptive statistics
dataset.describe()

              Last      Opening         High          Low          Vol.       Var. %
count  1875.000000  1875.000000  1875.000000  1875.000000  1.875000e+03  1875.000000
mean      5.220325     5.222336     5.282341     5.156763  7.199550e+05    -0.005232
std       2.602547     2.601227     2.625503     2.573678  6.791061e+05     1.985541
min       1.800000     1.800000     1.820000     1.730000  4.182000e+04   -21.680000
25%       2.880000     2.880000     2.920000     2.840000  3.650900e+05    -0.910000
50%       5.070000     5.080000     5.110000     5.030000  5.381700e+05     0.000000
75%       7.530000     7.530000     7.650000     7.445000  8.484250e+05     0.930000
max      10.490000    10.450000    10.640000    10.390000  1.106000e+07    11.350000

In [64]:
# find datatypes
dataset.dtypes

Last        float64
Opening     float64
High        float64
Low         float64
Vol.        float64
Var. %      float64
category     object
dtype: object

In [65]:
# unique values in cateogry
dataset['category'].value_counts()

category
negative    867
positive    864
neutral     144
Name: count, dtype: int64

In [66]:
dataset['category']

0       negative
1       positive
2       positive
3       positive
4       positive
          ...
1870    negative
1871    positive
1872    negative
1873    positive
1874    negative
Name: category, Length: 1875, dtype: object

In [67]:
# category mapping
category_map = {'negative': 0, 'neutral': 1, 'positive': 2}

dataset['category'] = dataset['category'].replace(category_map)

In [68]:
dataset['category']

0       0
1       2
2       2
3       2
4       2
       ..
1870    0
1871    2
1872    0
1873    2
1874    0
Name: category, Length: 1875, dtype: int64

In [69]:
dataset.head()

   Last  Opening  High   Low       Vol.  Var. %  category
0  3.50     3.57  3.64  3.46  1570000.0   -1.55         0
1  3.56     3.52  3.57  3.52   666030.0    1.14         2
2  3.52     3.45  3.54  3.45   882540.0    1.59         2
3  3.46     3.43  3.49  3.43   508330.0    0.87         2
4  3.43     3.44  3.49  3.43   809460.0    0.59         2

In [70]:
# find unique values in category column
dataset['category'].value_counts()

category
0    867
2    864
1    144
Name: count, dtype: int64

In [71]:
# find length of dataset
len(dataset)

1875

In [73]:
# find correlation wrt category column
dataset.corr()['category']

Last        0.036741
Opening     0.014012
High        0.025746
Low         0.026867
Vol.       -0.020480
Var. %      0.701044
category    1.000000
Name: category, dtype: float64