# Data Science Tools and Ecosystem

This notebook shows the summary of the Data Science Tools and Ecosystem

**Objectives:**
* Python
* R
* SQL
* Java
* C++
* JavaScript
* Scala

Some of the popular Data Science languages are:
1. Python
2. R
3. SQL
4. Java
5. C++

Some of the common libraries used by Data Scientists are:
1. Numpy
2. Pandas
3. Matplot
4. seaborn
5. Scikitlearn
6. Keras
7. Tensorflow

| Data Science Tools |
| --- |
| Python |
| Jupyternotebook |
| Apache Spark |

In [1]:
# This is a simple arithmatic operation
(4*3) + 5

17

# Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
# This will convert 200 minutes into hours in Python

mins = 200
hours = 200/60

print("Hours are", hours)

Hours are 3.3333333333333335

## Author
**Arfan Shah**